//pc global-navgation

.mod-header-nav {

    & {
        width: 100%;

        @include mq('sm') {
            display: none;
        }
    }

    &__list {

        transform:skew(-25deg);

        .-item {
            border-right: solid 2px $color-main;
            text-align: center;
            width: calc(100% / 5);

            &:last-child {
                border-right: none;
            }

            a {
                text-transform: capitalize;
                transform:skew(25deg);
                display: block;
                font-size: rem(14);
                font-weight: 700;
                padding: 10px 0;
                text-decoration: none;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}