.mod-header-main {

    & {
        background-color: $color-bg-primary;
        color: $color-main;
        padding: 20px 0;
        width: 100%;

        @include mq('sm') {
            margin: 0 auto;
            padding: 14px 0;
        }
    }

    &__logo>a {
        display: block;
        font-size: rem(40);
        font-weight: 700;

        @include mq('sm') {
            font-size: 28px;
            font-weight: 700;
        }
    }

    &__description {
        font-size: rem(18);
        padding: 21px 0;
        margin: 0 auto 0 20px;
        vertical-align: middle;

        @include mq('md') {
            font-size: rem(16);
            padding: 18px 0;
        }

        @include mq('sm') {
            display: none;
        }
    }
}

/* Javascriptを有効にしていない場合に表示 */
noscript p {
    background-color: lightblue;
    font-size: rem(14);
    padding: 10px 0;
    text-align: center;
}