#topMain {
    align-items: center;
    border-radius: 48px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    display: flex;
    height: 600px;
    justify-content: center;
    margin: 40px auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 80%;

    @include mq('tab') {
        border-radius: 0;
        width: 100%;
        margin: 0;
    }

    .topMain__slider__img>img {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-filter: brightness(70%);
        filter: brightness(70%);
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        opacity: 0;
        transition: opacity 0.75s ease-in-out;
        width: 100%;
        z-index: -1;
    }
}